:root {

    /* Font/text values */
    --open-sans: 'Open Sans';
    --work-sans: 'Work Sans';
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-600: 600px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-12: 12px;
    --unnamed-font-size-16: 16px;
    --unnamed-character-spacing--0-06: -0.06px;
    --unnamed-character-spacing--0-08: -0.08px;
    --unnamed-line-spacing-14: 14px;
    --unnamed-line-spacing-17: 17px;
    --unnamed-line-spacing-18: 18px;
    --unnamed-line-spacing-22: 22px;
    --unnamed-text-transform-uppercase: uppercase;
    --unnamed-color-222222: #222222;
    --unnamed-color-6d6d6d: #6d6d6d;
    --light-blue: #F2F7FF;
    --dark-blue: #1D232F;
    --light-bg: #F6F6F6;
    --strong-blue: #4568F5;
    --medium-gray: #646464;
}
    
    /* Character Styles */
.char-style-1 {
font-family: var(--open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-14);
letter-spacing: var(--unnamed-character-spacing--0-06);
color: var(--unnamed-color-222222);
}
.char-style-2 {
font-family: var(--open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-17);
letter-spacing: var(--unnamed-character-spacing--0-06);
color: var(--unnamed-color-6d6d6d);
}
.char-style-3 {
font-family: var(--open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing--0-06);
color: var(--unnamed-color-222222);
}
.char-style-4 {
font-family: var(--work-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-18);
letter-spacing: var(--unnamed-character-spacing--0-06);
color: var(--unnamed-color-222222);
text-transform: var(--unnamed-text-transform-uppercase);
}
.char-style-5 {
font-family: var(--open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing--0-08);
color: var(--unnamed-color-6d6d6d);
}


.navbar {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 5px 20px; /*unsure if necessary*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-blue);
    font-family: var(--open-sans);
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    color: var(--medium-gray);
    letter-spacing: -0.08px;
    font-size: 16px;
}

.container-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: var(--work-sans);
}

.container-background {
    text-align: center;
    height: 750px;
    display: flex;
    align-items: center;
}

.container-main-title {
    text-align: center;
    width: 100%;
}

/* NOSOTROS */

.container-nosotros {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--strong-blue);
    color: var(--light-blue);
    padding: 10px;
}

.container-nosotros-left {
    max-width:384px;
}

.container-nosotros-left p {
    width: 75%;
    line-height: 24px;
}

.container-nosotros h3 {
    font-size: 14px;
}

.container-nosotros h2 {
    font-size: 32px;
}

#nosotros {
    padding-top: 118px;
    padding-left: 94px;
}

#mision p, #vision p, #valores p {
    font-family: var(--open-sans);
    font-size: 16px;
    letter-spacing: -0.08px;
    line-height: 28px;
    margin: 3% 25% 3% 25%;
}

#valores ol {
    margin: 3% 25% 3% 25%;
}

.valores-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 140px;
}

.valores-list li {
    margin: 10px;
}

/* PRODUCTOS */

.container-productos {
    background-color: var(--dark-blue);
    padding: 95px;
}

.header-productos {
    text-align: left;
    color: var(--light-blue);
}

.container-productos-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    max-width: 25vw;
    background-color: var(--light-bg);
    margin: 10px;
    padding: 10px;
}

.product h4 {
    font-size: 28px;
}

.product p {
    font-family: var(--open-sans);
    font-size: 14px;
}

/* INFO */

.container-info {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--light-blue);
    padding: 10px;
}

.container-info-left {
    max-width: 384px;
}

.container-info-left p {
    width: 75%;
    line-height: 24px;
}

.container-info h3 {
    font-size: 14px;
}

.container-info h2 {
    font-size: 32px;
}

#info {
    padding-top: 118px;
    padding-left: 94px;
}

#une p, #condusef p, #buro p {
    font-family: var(--open-sans);
    font-size: 16px;
    letter-spacing: -0.08px;
    line-height: 28px;
    margin: 3% 25% 3% 0;
}

#buro .aviso-importante {
    font-family: var(--work-sans);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
}

.container-info-right {
    text-align: left;
}

/* CONTACTO */

.container-contacto {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--strong-blue);
    color: var(--light-blue);
    padding: 10px;
}

.container-contacto-left {
    max-width: 384px;
}

.container-contacto-left p {
    width: 75%;
    line-height: 24px;
}

/* form */

.container-contacto-right {
    width:75%;
    text-align: center;
}

.contact-form {
    font-family: var(--open-sans);
    color: var(--light-blue);
}

.container-contacto-right form {
    width: 100%;
}

.container-contacto-right input {
    width: 75%;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

.container-contacto-right textarea {
    width: 75%;
    height: 100px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    resize: none;

}

.container-contacto-right button {
    background-color: var(--strong-blue);
}

/* endform */

.container-contacto h3 {
    font-size: 14px;
}

.container-contacto h2 {
    font-size: 32px;
}

#contacto {
    padding-top: 118px;
    padding-left: 94px;
}



/* FOOTER */

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


/* OTHER */

#all-nav {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 75px;
    background: #F2F7FF 0% 0% no-repeat padding-box;
    opacity: 1;
}


