:root {
    /* Font/text values */
    --open-sans: 'Open Sans';
    --work-sans: 'Work Sans';
    --light-blue: #F2F7FF;
    --dark-blue: #1D232F;
    --light-bg: #F6F6F6;
    --strong-blue: #4568F5;
    --medium-gray: #646464;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 28px;
}

/* NAVBAR */

.navbar {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 5px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--light-blue);
    font-family: var(--open-sans);
    z-index: 1;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*probably have to change this in a bit*/
    width: 100%;
}

.nav-link {
    text-decoration: none;
    display: block;
    color: var(--medium-gray);
    letter-spacing: -0.08px;
    font-size: 16px;
}

.nav-link:hover {
    color: var(--strong-blue);
}

.nav-contacto {
    background-color: var(--strong-blue);
    font-size: inherit;
    font-family: inherit;
    border: 0;
    padding: 14px 42px;
    border-radius: 25px;
    margin:-15px;
}

.nav-contacto:hover {
    background-color: var(--dark-blue);
}

#b-contacto {
    color: var(--light-blue);
}

#contact-item {display: none;}

/* hide hamburger on desktop */
.navbar label, #hamburger { display: none;}

/* show hamburger on mobile */
@media screen and (max-width: 768px) {
    /* my own bit */
    .navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-brand {
        position: fixed;
        top: 20px;
        left: 20px;
    }

    .navbar input {
        position: fixed;
        top: 0px;
        right: 0px;
    }
    
    /* break into vertical menu */
    #navitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid var(--medium-gray);
        padding: 10px;
    }

    /* show hamb */
    .navbar label {
        display: inline-block;
        color: var(--medium-gray);
        font-style: normal;
        font-size: 2em;
        padding: 10px;
    }

    /* toggle show/hide menu */
    #navitems { display: none; }
    .navbar input:checked ~ #navitems, #contact-item { display: block; }

    /* toggle contact button */ 
    #contact-button { display: none; }
}


.container-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: var(--work-sans);
}

/* SLIDESHOW */
/* body-> container-main -> container-title -> container-slideshow -> mySlides fade */
/*equivalent to hero in tutorial*/
.container-title {
    display: grid;
    height: 750px;
}

.container-slideshow {
    grid-area: 1/-1;
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
}

/*equivalent to hero__thumb in tutorial*/
.mySlides {
    display: none;
    width: 100%;
    height: auto;
    max-height: 750px;
    z-index: -1;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*equivalent to hero__content in tutorial*/
.responsive-logo {
    z-index: 1;
    grid-area: 1/-1;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    max-width: 50%;
}

/* NOSOTROS */

.container-nosotros {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--strong-blue);
    color: var(--light-blue);
    padding: 10px;
}

.container-nosotros-left {
    max-width:384px;
}

.container-nosotros-left p {
    width: 75%;
    line-height: 24px;
}

#nosotros {
    padding-top: 118px;
    padding-left: 94px;
}

#mision p, #vision p, #valores p {
    font-family: var(--open-sans);
    font-size: 16px;
    letter-spacing: -0.08px;
    line-height: 28px;
    margin: 3% 25% 3% 25%;
}

#valores ol {
    margin: 3% 25% 3% 25%;
}

.valores-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 140px;
}

.valores-list li {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .container-nosotros {
        flex-direction: column;
    }

    .container-nosotros-left {
        width: 100%;
    }

    #nosotros {
        padding: 25px;
    }

    #nosotros p {
        width: 100%;
    }

    #mision p, #vision p, #valores p {
        letter-spacing: -0.08px;
        font-size: 12px;
        line-height: 22px;
        margin: 3%;
    }

    #valores ol {
        margin: 3%;
        font-size: 12px;
        padding: 3%;
        max-width: 50%;
    }

    
}

/* PRODUCTOS */

.container-productos {
    background-color: var(--dark-blue);
    padding: 95px;
}

.header-productos {
    text-align: left;
    color: var(--light-blue);
    margin-left: 25px;
}

.container-productos-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.product {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    max-width: 25vw;
    background-color: var(--light-bg);
    margin: 10px;
    padding: 10px;
}

.product p {
    font-family: var(--open-sans);
    font-size: 14px;
}

.product td {
    font-family: var(--open-sans);
    font-size: 14px;
    border-bottom: 1px var(--medium-gray);
}

.product h5 {
    font-size: 18px;
}

.product a {
    text-decoration: underline;
}

.product-features p {
    columns: 2;
}

.color-line {
    height: 10px;
    margin: -10px;
}

.gray-text {
    color: #A7A7A7;
}

#product-1, #product-2, #product-3, #product-4, #product-5, #product-6 { display: none; }

@media screen and (max-width: 768px) {
    .container-productos {
        display: flex;
        flex-direction: column;
    }

    #productos {
        padding: 25px;
    } 

    .header-productos {
        width: 100%;
        padding: 5px;
        margin-left: 0;
    }

    #productos p, td {
        letter-spacing: -0.08px;
        font-size: 10px;
        line-height: 18px;
        margin: 3%;
        width: 90%;
    }

    #productos h4 {
        font-size: 20px;
        width: 90%;
    }

    #productos h5 {
        font-size: 16px;
    }

    .product {
        width: 100%;
        min-width: 100%;
    }

    .product a {
        color: #6d6d6d;
        font-size: 12px;
        text-decoration: underline;
        font-family: var(--open-sans);
        margin: 5px;        
    }
   
}


/* INFO */

.container-info {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--light-blue);
    padding: 10px;
}

.container-info-left {
    max-width: 384px;
}

.container-info-left p {
    width: 75%;
    line-height: 24px;
}

#info {
    padding-top: 118px;
    padding-left: 94px;
}

#une p, #condusef p, #buro p {
    font-family: var(--open-sans);
    font-size: 16px;
    letter-spacing: -0.08px;
    line-height: 28px;
    margin: 3% 25% 3% 0;
}

#buro .aviso-importante {
    font-family: var(--work-sans);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
}

.container-info-right {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .container-info {
        flex-direction: column;
    }

    .container-info-left {
        width: 100%;
    }

    #info {
        padding: 25px;
    } 

    #une p, td, #condusef p, #buro p {
        letter-spacing: -0.08px;
        font-size: 12px;
        line-height: 22px;
        margin: 3%;
    }
   
}

/* CONTACTO */

.container-contacto {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: var(--strong-blue);
    color: var(--light-blue);
    padding: 10px;
}

.container-contacto-left {
    max-width: 384px;
}

.container-contacto-left p {
    width: 75%;
    line-height: 24px;
    font-size: 16px;
}

/* form */

.container-contacto {
    padding: 95px;
}

.container-contacto-right {
    width:75%;
    text-align: center;
    padding:10px;
}

.contact-form {
    font-family: var(--open-sans);
    color: var(--light-blue);
    padding:10px;
}

.container-contacto-right form {
    width: 100%;
}

.container-contacto-right input {
    width: 75%;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

.container-contacto-right textarea {
    width: 75%;
    height: 100px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    resize: none;

}

.container-form-button {
    width: 85%;
    text-align: right;
}

.container-contacto-right button {
    padding: 18px 20px 18px 20px;
    background-color: var(--strong-blue);
    font-family: var(--work-sans);
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    border-color: white;
    border-style: solid;
}

/* endform */

#contacto {
    padding-top: 118px;
    padding-left: 94px;
}

@media screen and (max-width: 768px) {
    .container-contacto {
        flex-direction: column;
    }

    .container-contacto-left {
        width: 100%;
    }

    #contacto {
        padding: 25px;
    } 

    .container-contacto-right p {
        letter-spacing: -0.08px;
        font-size: 12px;
        line-height: 22px;
        margin: 3%;
    }
   
}


/* FOOTER */

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: var(--dark-blue);
    padding-left: 10px;
}

.container-footer-logo {
    max-width: 384px;
    color: var(--light-blue);
    text-align: left;
}

#footer {
    padding-left: 94px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#aviso-link {
    text-decoration: none;
    color: inherit;
}

/* OTHER */

#all-nav {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 75px;
    background: #F2F7FF 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* media test */

@media (max-width: 640px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 12px;
    }
    
    h4 {
        font-size: 24px;
    }
}
